#mainContainer {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#skyContainer {
    width: 100vw;
    height: 40vh;
    background-color: rgb(167, 209, 237);
    position: relative;
}

.cloudContainer {
    position: absolute;
}

#groundContainer {
    width: 100vw;
    height: 60vh;
    background-color: rgb(225, 210, 157);
    position: absolute;
}

.cloudPixel {
    background-color: rgb(213, 213, 213);
    position: absolute;
}

.mountainPixel {
    background-color:  rgb(81, 51, 5);
    position: absolute;
}